.isa_info {
  color: #00529b;
  background-color: #bde5f8;
  padding: 10px 20px;
}
@media screen and (max-width: 767px) {
  .card-body {
    padding: 30px 20px;
  }
}
.isa_success {
  color: #4f8a10;
  background-color: #dff2bf;
}

@media (min-width: 767px) {
  .Regcard {
    padding: 65px 240px;
  }
}
