.Regcard {
  padding: 0;
  margin: auto;
  padding: 5% 20%;
}

.submit {
  padding: 0 30%;
  border-radius: 30px;
}

.submit:hover {
  background-color: #882067 !important;
  color: #fff !important;
  box-shadow: 10px 10px 8px #888888;
}

.reg {
  padding: 0 10%;

  background-color: #fff !important;
  border: 2px solid #3868cd;

  color: #000;
}

.forgetPassword,
.forgetPassword:hover {
  color: #000;
  font-weight: bolder;
  float: left;
}
.forgetPassword:hover {
  color: #000;
}
