body {
  overflow-x: hidden;
}
.bg_head > h2 {
  color: #063058;
  font-size: 18px;
  font-family: "AbdoMaster-DemiBold";
}
.bg_head {
  background-color: #fff;
  padding: 15px 10px;
}
.box_group_items {
  margin-bottom: 20px;
}
.data_info,
.contact__info {
  padding: 20px;
}
.bg_head {
  background-color: #f9f9f9;
}

.card-4 .card-body {
  padding: 0px !important;
}
.rightcard {
  padding: 40px !important;
}
.cotactContainer {
  padding-right: 5px;
  padding-left: 45px;
  padding-top: 40px;
}

.data_info li,
.contact__info li {
  list-style: none;
}

.contact__info li a {
  color: black;
}

.contact__info {
  padding-bottom: 0%;
}
.contact__info li a i {
  color: #063058;
}

.cnUs {
  margin-bottom: 5px;
}
.submit:hover {
  background-color: #882067 !important;
  color: #fff !important;
  box-shadow: 10px 10px 8px #888888;
}
.contact__info,
.data_info {
  padding: 0%;
}
.contact__info li,
.data_info li {
  padding: 20px;
}

.ci_twitter:hover {
  background-color: aquamarine;
  color: white;
}
.ci_face:hover {
  color: white;
  background-color: blue;
}
.ci_insta:hover {
  color: white;
  background-color: #882067;
}
@media only screen and (max-width: 761px) {
  .cotactContainerinner {
    margin-bottom: 40px !important;
  }
  .cotactContainer {
    padding: 0px 40px;
  }
}
