.card-header {
  background-color: #f5f5f5;
  border-color: #ddd;
  color: black;
}

.btn-link {
  color: black;
}

.questionCard {
  margin-bottom: 30px;
}
.btn {
  padding: 0px;
}
.btn-link:hover {
  color: #882067;
}
@media (max-width: 572px) {
  .card-body {
    font-size: 14px;
  }
}
